.signInUpContainer {
    width: 100%;
}

.switchView {
    height: 40px;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.signInUpWrapper {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 500px;
}


.signInHeader {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.errorMessages {
    text-align: center;
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.signInOutLogo {
    max-height: 200px;
    max-width: 100%;
}

.switchView {
    margin-top: 2.2%;
    margin-left: 100px;
    margin-right: 100px;
}

.labelContainer {
    text-align: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

.signInOutInput {
    width: 225px;
}

.signInOutLabel {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 0;
}

.signInOutInput {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.forgotPassBtn {
    margin-left: 20px;
}

.signInUpBtn {
    width: 150px;
}

.labelDescriptor {
    text-align: center;
    font-size: 13px;
    margin-bottom: 2px;
}

.switchViewContainer {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.smallScreenSignIn {
    display: none;
}

.largeScreenSignIn {
    display: block;
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .formContainer {
        display: inline-block;
    }
    .logoContainer {
        margin-bottom: 30px; 
        margin-left: 10%;  
    }
    .largeScreenSignIn {
        display: none;
    }
    .smallScreenSignIn {
        display: block;
    }
}