.navHeader {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.halfWay {
    width: 50%;
    align-items: center;
}

.leftHalf {
    justify-content: flex-start;
}

.rightHalf {
    justify-content: flex-end;
}

.navHomeIcon {
    height: 70px;
    width: 93px;
}

.signoutIcon {
    margin: 5px;
    height: 45px;
    width: 45px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.navButton {
    min-width: 150px;
    margin-left: 5%;
    transform: translateY(50%);
}

.signOut {
    transform: translateY(13%);
    width: 137px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    padding: 3px;
    padding-right: 7px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: 600;
    background-color: rgb(247, 247, 247);
}

.notifications {
    margin-right: 5%;
}

.verifyEmailDiv {
    text-align: center;
    font-weight: 600;
}

.sentEmail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarDropdownMenu {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    top: 28px;
    right: 0;
    padding: 2px 8px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
   
.navBarDropdownItem {
    display: flex;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 6px 26px;
    font-size: 14px;
    color: #333537;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
}

.navBarDropdownItem:hover {
    background-color: #b4b4b4;
}

.navDropdownLink {
    font-size: 18px;;
    font-weight: 600;
}

.smallViewLinks {
    display: none;
}
.largeViewLinks {
    display: block;
} 

@media only screen and (max-width: 900px) {
    .smallViewLinks {
        display: block;
    }
    .largeViewLinks {
        display: none;
    } 
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .navButton {
        min-width: 70px;
        max-width: 100px;
        min-height: 30px;
        line-height: 0;
        margin-left: 0;
        margin-top: 6px;
        transform: translateY(0);
    }
    .signOut {
        transform: translateY(0);
        margin-top: 7px;
        width: 55px;
        margin-right: 0;
    }
    .smallVerifyEmailBtn {
        margin-top: 20px;
    }
    .smallSentEmail {
        margin-top: 25px;
        font-weight: 600;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 400px) {
    .superSmallHide {
        display: none;
    }
    .navButton {
        margin-top: 20px;
    }
}