.menuButton {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.navHeader {
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.navBarLogo {
    height: 80px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width: 900px) {
    .smallViewLinks {
        display: block;
    }
    .largeViewLinks {
        display: none;
    } 
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .navButton {
        min-width: 70px;
        max-width: 100px;
        min-height: 30px;
        line-height: 0;
        margin-left: 0;
        margin-top: 6px;
        transform: translateY(0);
    }
    .signOut {
        transform: translateY(0);
        margin-top: 7px;
        width: 55px;
        margin-right: 0;
    }
    .smallVerifyEmailBtn {
        margin-top: 20px;
    }
    .smallSentEmail {
        margin-top: 25px;
        font-weight: 600;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 400px) {
    .superSmallHide {
        display: none;
    }
    .navButton {
        margin-top: 20px;
    }
}