.playerRow {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
    height: 36px;
}

.usedPlayerButton {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.oddRow {
    background-color: rgb(245, 245, 245);
}

.positionBox {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    min-width: 70px;
    border-radius: 50%;
}


.playerContainer {
    width: 100%;
    padding-left: 15px;
    display: flex;
}

.addDropButton {
    margin-right: 10%;
}

.playerCol {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 150px;
}

.teamCol {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 40px;
}

.posCol {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 40px;
}

.scoreCol {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 40px;
}