.playerRow {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
    border-radius: 2px;
    margin-left: 5%;
    background-color: transparent;
    width: 90%;
    height: 36px;
}

.usedPlayerButton {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.oddRow {
    background-color: rgb(245, 245, 245);
}

.positionBox {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    min-width: 70px;
    border-radius: 50%;
}

.player {
    padding: 8px;
}

.playerContainer {
    width: 100%;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.addDropButton {
    margin-right: 10%;
}