.rosterPosition {
  max-width: 67px;
}

.rosterRow {
  padding: 5px;
}

.oppWidth {
  width: 73px;
}

.rosterHide {
  opacity: 0.3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button {
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 28px;
  font-size: 14px;
  border-radius: 0.2rem;
  cursor: pointer;
  color: #17a2b8;
  border-color: #17a2b8;
}

.custom-button:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.rosterHide {
  visibility: hidden;
}

.userRosterAvatar {
  width: 50px;
  height: 50px;
  border-radius: 5%;
}

.playerAvatar {
  width: 50px;
  height: 36px;
}

td {
  padding: 4px !important; /* !important is used to override the default padding from Bootstrap of 0.5rem*/
}
