.lineHeight {
    line-height: 1.25;
}

.noMargin {
    margin: 0;
}

.selectRow {
    width: 100%;
    margin-top: 20px;
}

.topRow {
    margin-top: 10px;
}

.usedPlayerButtonContainer {
    text-align: center;
}

.searchDropdown {
    text-align: center;
    margin-bottom: 0;
    float: left;
}

.shiftInputAndSubmit {
    margin-left: 25px;
}

.secondRowInput {
    width: 150px;
}

.submitButton {
    margin-bottom: 25px;
    margin-left: 10px;
    float: left;
}

.selectContainer {
    width: 100%;
    display: inline-block;
}

.playerColumn {
    width: 100%;
}

.columnStyle {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
}

.title {
    padding: 8px;
}

.searchRow {
    margin-top: 15px;
    height: 100px;
}

.floatRight {
    float:right;
}
