.searchDropdown {
    text-align: center;
    margin-bottom: 0;
    float: left;
}

.userNameRow {
    margin-bottom: 30px;
}

.sectionHeader {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid lightgray;
}

.inputLength {
    width: 150px;
}

.submitButton {
    margin-bottom: 25px;
    margin-left: 10px;
    float: left;
}

.selectContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.columnStyle {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
}

.colHeader {
    text-align: center;
    font-size: 22px;
}

.title {
    padding: 8px;
}

.searchRow {
    height: 87px;
    text-align: center;
    margin-top: 15px;
}

.searchLabel {
    width: 150px;
}

.floatRight {
    float:right;
}

.rosterContainer {
    display: flex;
    justify-content: space-evenly;
}

.rosterCol {
    width: 30%;
}

.smallSearchContainer {
    display: none;
}

.largeScreenShow {
    display: block;
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .smallSearchContainer {
        display: block
    }
    .largeScreenShow {
        display: none;
    }
    .searchRow {
        text-align: center;
        margin-top: 0;
    }
    .rosterCol {
        width: 100%;
        margin-top: 15px;
    }
    .rosterContainer {
        display: block;
    }
    
}