body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

.developmentNotice {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginHeightAuto {
  margin: auto 0;
}

.flexWrap {
  flex-wrap: wrap;
}

.smallImg {
  height: 120px;
  width: 120px;
}

a:link {
  color: black;
}

a:visited {
  color: maroon;
}

.fadeOut {
  transition: all 0.5s;
}

.displayNone {
  display: none;
}

.thirtyTransparent {
  opacity: 0.4;
}

*,
:after,
:before {
  box-sizing: border-box !important;
}

td {
  padding: 4px !important; /* !important is used to override the default padding from Bootstrap of 0.5rem*/
  /* This is used for the rosters, not having this adds a lot of space for each roster */
}
