body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
}

.developmentNotice {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.centerFlex {
  justify-content: center;
}

.textCenter {
  text-align: center;
}

.marginHeightAuto {
  margin: auto 0;
}

.flexWrap {
  flex-wrap: wrap;
}

.smallImg {
  height: 120px;
  width: 120px;
}

a:link {
  color: black;
}

a:visited {
  color: maroon;
}

.fadeOut {
  transition: 0.5s;
}

.zeroTransparent {
  opacity: 0;
}

.thirtyTransparent {
  opacity: .4;
}