body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

.developmentNotice {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.centerFlex {
  justify-content: center;
}

.textCenter {
  text-align: center;
}

.marginHeightAuto {
  margin: auto 0;
}

.flexWrap {
  flex-wrap: wrap;
}