.env
.build
.tsbuild
.serverless
.serverless_plugins
configurations
node_modules

**/*.json
**/*.yml
**/*.csv
**/*.md
**/*.txt
**/*.diff
**/*~

*/node_modules

client/build
client/dist
client/node_modules
client/public