.wrapper {
    margin: auto;
    width: 60%;
}

.homeSectionWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border: 1px solid lightgray;
    min-height: 300px;
    border-radius: 2px;
}

.wrapperBorder {
    height: 100%;
    background-color: lightgray;
    width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 275px;
}

.userAvatarWrapper {
    margin-top: auto;
    margin-bottom: auto;
}
 
.rosterRowWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin-top: 15px;
    margin-left: 0;
}

.rosterWrapper {
    width: 525px;
    margin: auto;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.noOpacity {
    opacity: 0;
}

.rosterGroupHeader {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 15px;
    font-size: 26px;
    border-bottom: 1px solid lightgray;
}

.bottomMargin {
    margin-bottom: 15px;
}

.weekSearchInputOnHome {
    justify-self: start;
}

.centerText {
    text-align: center
}

.topMargin {
    margin-top: 25px;
}

.usernameHeader {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 600;
}

.userLinkButton {
    margin-left: 15px;
}

.userLinks {
    margin-top: 15px;
    margin-bottom: 15px;
}

.homePageRoster {
    border-radius: 15px;
    min-width: 355px;
    float: left;
    margin-left: 15px;
    border: 1px solid lightgray;
}

.userNameOnRoster {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.weekSearchOnHome {
    padding-left: 33%;
    display: flex;
    text-align: center;
}

.weekDisplay {
    width: 200px;
    font-size: 20px;
}

.control-arrow {
    background-color: #999 !important;
    height: 50%;
    margin-top: 10% !important;
    border-radius: 5px;
}

.rosterHomePageTitle {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.rosterHomePageTitle>a {
    color: #000;
}

.variousRosterContainers {
    flex-grow: 3;
}

.collapseButton {
    margin-left: 15px;
    margin-top: -9px;
}

.leaderName {
    font-size: 26px;
    font-weight: 600;
}

.leaderTitle {
    font-size: 22px;
}

.smallScreenShow {
    display: none;
}

.medScreenShow {
    display: none;
}

.largeScreenShow {
    display: block;
}

.flexOn {
    display: flex;
}

.carouselWrapper {
    width: 750px;
}

/* MEDIUM SCREENS */
@media only screen and (max-width: 1650px) {
    .medScreenShow {
        display: block;
    }
    .smallScreenShow {
        display: none;
    }
    .largeScreenShow {
        display: none;
    }
}

@media only screen and (max-width: 1525px) {
    .wrapper {
        margin: 0;
        width: 100%;
    }
    
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .weekSearchOnHome {
        padding-left: 0;
    }
    .homePageRoster {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
    .smallScreenShow {
        display: block;
    }
    .largeScreenShow  {
        display: none;
    }
    .carouselWrapper {
        width: 100%;
    }
    .homeSectionWrapper {
        display: block;
        width: 100%;
    }
    .wrapperBorder {
        display: none;
    }
    .rosterWrapper {
        width: 100%;
    }
}