.wrapper {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
}

.weekSearchInputOnHome {
    justify-self: start;
}

.centerText {
    text-align: center
}

.topMargin {
    margin-top: 25px;
}

.usernameHeader {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 600;
}

.userLinkButton {
    margin-left: 15px;
}

.userLinks {
    margin-top: 15px;
    margin-bottom: 15px;
}

.homePageRoster {
    border-radius: 15px;
    min-width: 355px;
    float: left;
    margin-left: 15px;
    border: 1px solid lightgray;
}

.userNameOnRoster {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.weekSearchOnHome {
    padding-left: 33%;
    display: flex;
    text-align: center;
}

.weekDisplay {
    width: 200px;
    font-size: 20px;
}

.userRosterHomePage {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 525px;
    padding:  10px 25px;
}

.rosterHomePageTitle {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.variousRosterContainers {
    flex-grow: 3;
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .weekSearchOnHome {
        padding-left: 0;
    }
    .homePageRoster {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
}