.leaderboardContainter {
    z-index: 0.8;
    display: flex;
    min-width: 700px;
    max-height: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leaderboard {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.leaderboardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
    background-color: rgb(166, 241, 166);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 0.8;
}

.wordOverflow {
    text-overflow: ellipsis;
}

.leaderboardTitle {
    width: 33%;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 600;
    z-index: 0.8;
}

.leftHeader {
    padding-left: 30px;
}

.rightHeader {
    padding-right: 20px;
}

.headerText {
    font-size: 28px;
    font-weight: 600;
    align-self: flex-end;
}

.leaderboardRow {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    font-size: 20px;
}

.firstCol {
    width: 25%;
    justify-self: flex-start;
    padding-left: 35px;
}

.secondCol {
    width: 20%;
    text-align: center;
}

.thirdCol {
    width: 24%;
    text-align: center;
}

.fourthCol {
    width: 24%;
    text-align: center;
    padding-right: 20px;
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .leaderboard {
        width: 100%;
    }
    .leaderboardTitle {
        font-size: 18px;
    }
    .headerText {
        font-size: 16px;
    }
    .secondCol {
        display: none;
    }
    .thirdCol {
        display: none;
    }
    .leaderboardTitle {
        display: none;
    }
    .leaderboardContainter {
        min-width: 100%;
    }
}