.titleMargin {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 50px;
}

.headerFont {
  font-size: 26px;
  font-weight: 500;
}

.rosterButton {
  margin-bottom: 10px;
}

.usedPosition {
  float: left;
  width: 17%;
  margin-left: 2%;
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
  .usedPosition {
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    border: 1px solid lightgray;
    border-radius: 15px;
  }
}
