.positionColumn {
    text-align: right;
}

.playerIdInput {
    margin-left: 50px;
    width: 300px;
}

.selectedUser {
    width: 250px;
    margin: 0 auto;
}

.userEditorButton {
    margin-top: 50px;
}

.rightButton {
    margin-left: 10px;
}

.calculateScoreButton {
    margin-top: 10px;
    margin-left: 45%;
}

@media screen and (max-width: 770px) {
    .userEditorButton {
        margin-top: 0;
    }
}