.userProfileWrapper {
    display: flex;
}

.userProfileLeft {
    margin-left: 300px;
    width: 20%;
}

.userProfileRight {
    width: 45%;
}

.fieldDescription {
    width: 120px;
}

.editField {
    display: flex;
    font-size: 22px;
    margin-bottom: 15px;
}

.editFieldTitle {
    margin-right: 10px;
}

.largeCheckbox {
    height: 23px;
    width: 23px;
}

.profileName {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.favoriteTeamPicture {
    text-align: center;
}

.submitButtonWrapper {
    text-align: center;
}