.profileWrapper {
    display: flex;
}

.noTopMargin {
    margin-top: 0;
}

.greyBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(85, 85, 85);
    opacity: 0.7;
    z-index: .9;
}

.profileModal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 500px;
    width: 900px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px lightgray solid;
    padding: 10px 50px;
}

.groupModalHeight {
    top: 48%;
    height: 85%;
}

.ReactModal__Content {
    overflow-y: auto;
}

.ReactModal__Overlay {
    opacity: 0;
    animation: pop-in 0.15s;
    -webkit-animation: pop-in 0.15s;
    -moz-animation: pop-in 0.15s;
    -ms-animation: pop-in 0.15s;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modalOverlay {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profileLeft {
    margin-top: -10px;
    margin-left: 300px;
    width: 20%;
}

.profileRight {
    width: 45%;
}

.fieldDescription {
    width: 120px;
}

.editField {
    display: flex;
    font-size: 22px;
    margin-top: 10px;
}

.lowerOpacity {
    opacity: 0.3;
}

.editFieldTitle {
    margin-right: 10px;
}

.largeCheckbox {
    height: 23px;
    width: 23px;
}

.profileName {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.profileDesc {
    text-align: center;
    font-size: 20px;
}

.userAvatarWrapper {
    text-align: center;
}

.userAvatar {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.submitButtonWrapper {
    text-align: center;
}

.cropperWrapper {
    height: 350px;
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.sliderWrapper {
    margin-top: 25px;
    margin-bottom: 20px;
}

.profileButtonWrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.profileModalButton {
    width: 125px;
}

.notificationHeader {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: -15px;
    height: 42px;
}

.reAuthHeader {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.relogNotify {
    font-size: 24px;
}

.avatarInputButton {
    display: none;
}

.customFileUploadButton {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 0px;
}

.customFileUploadButton:hover {
    background-color: whitesmoke;
}

.groupPosHeader {
    font-size: 26px;
    font-weight: 600;
}

.groupPos {
    font-size: 22px;
}

.groupProfileRow {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.groupScoreBucket {
    display: flex;
    border: 1px solid darkgray;
    border-radius: 5px;
    min-height: 50px;
}

.groupScoreBucketName {
    width: 100px;
    border-right: 1px solid darkgray;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupScoreFields {
    display: flex;
    flex-wrap: wrap;
}


@-webkit-keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
    }
    @-moz-keyframes pop-in {
    0% { opacity: 0; -moz-transform: scale(0.5); }
    100% { opacity: 1; -moz-transform: scale(1); }
    }
    @keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
    }