.scoringContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.scoringGroup {
    width: 250px;
    min-width: 200px;
}

.joinGroupRow {
    display: flex;
}

.joinGroupHeader {
    display: flex;
}

.col1 {
    width: 33%;
}

.col2 {
    width: 33%;
}

.col3 {
    width: 33%;
}


@media only screen and (max-width: 1000px) {
    .scoringContainer {
        margin: 0;
    }
    
}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px) {
    .scoringGroup {
        width: 100%;
    }
    
}

