.groupContainer {
    width: 85%;
    margin: auto;
}

.groupFlex {
    display: flex;
    font-size: 18px;
}

.groupFieldDescription {
    width: 105px;
    font-weight: 600;
}

.groupName {
    height: 30px;
}

.groupDescription {
    height: auto;
}

.groupFirstCol {
    width: 500px;
}

.groupInfo {
    width: 395px;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.joinGroupHeader {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 25px;
    box-shadow: 0 7px 5px -5px rgb(190, 190, 190);
}