.sideBarHeight {
  background-color: white;
}

.bm-burger-button {
  height: 0;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
}

.sideBarItem {
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 26px;
  font-size: 14px;
  color: #333537;
  border-radius: 3px;
  font-weight: 600;
}

.sidebarSVG {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
}

.sidebarItemWrapper {
  display: flex;
}

.sidebarItemWrapper:hover {
  background-color: rgb(245, 245, 245);
}

.logoWrapper {
  text-align: center;
  padding-top: 15px;
}

.eliminatorLogo {
  height: 70px;
  width: 93px;
}

.signOutSideItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sitBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.groupDropdown {
  margin-top: 15px;
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
